* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: rgb(62, 62, 62);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 420px;
  height: 460px;
  border-radius: 10px;
  background-color: rgb(194, 185, 185);
  box-shadow: 3px 2px 3px 2px rgb(0, 0, 0);
}

.Sign-up {
  display: flex;
  justify-content: center;
  color: rgb(243, 243, 243);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 20px;
  font-weight: bolder;
  font-size: 17px;
}
.smitlogo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.smitlogo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 20px;
}

.contchild {
  margin-top: 5px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
label {
  font-size: 20px;
  font-weight: 400;
  color: rgb(5, 5, 5);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

input {
  width: 320px;
  height: 35px;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 8px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
input:focus {
  background-color: rgb(206, 202, 202);
}

.sign-up button {
  width: 110px;
  height: 37px;
  border-radius: 6px;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(60, 80, 190);
  color: white;
  margin-left: 100px;
  margin-top: 15px;
}

/* -------> */
body {
  display: flex;
  flex-flow: column;
  gap:10px;
}


/* ----Shahzaib---> */

/* /--disable hasnian container---/ */
.container {
  display: none;
}
/* -----> */

:root {
  --button-background : rgb(15, 158, 247);
  --button-hover-color : lightskyblue;
}
body {
  background-color:white;
}
.content-container
{
  width: 450px;
  height: 400px;
  background-color: white;
  border-radius: 4px;
  padding:10px 0px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 4px lightgray;  /**/
}

.content-container .image-section 
{
  /* border: 1px solid red; */
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  width: 140px;
}
.welcome-section
{
  text-align: center;
  padding: 10px;
  line-height: 38px;

}
.welcome-section h1  
{
color:gray;
}
.welcome-section h3
{
color:rgb(167, 159, 159);
}
.get-started 
{
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.get-started button 
{
  border: none;
  width: 100px;
  padding: 10px 5px;
  border-radius: 4px;
  color: white;
  background-color: var(--button-background);
}
.get-started button:hover
{
  background-color: var(--button-hover-color);
}